<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PropListings</a>
        </div>
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a [routerLink]="['/']">Home</a></li>
                <li *ngIf="(user | async)"><a [routerLink]="['/listings']">Listings</a></li>
                <li *ngIf="(user | async)"><a [routerLink]="['/add-listing']">Add Listing</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li *ngIf="!(user | async)"><a (click)="login()">Login</a></li>
                <li *ngIf="(user | async)"><a (click)="logout()">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
